body {
  box-sizing: border-box;
  height: 100%;
}

a {
  text-decoration: none;
  color: rgb(17, 17, 17);
}

.wrapper {
  min-height: 900px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  color: rgb(17, 17, 17);

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main__container {
  margin-top: 100px;
}

.main__btn {
  width: 120px;
  height: 50px;
  margin: 0 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__btn:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  transition: all ease 0.5s;
}

.projects {
  margin-top: 70px;
}

.btn {
  height: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}

.btn:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  transition: all ease 0.5s;
}

.calc-img {
  width: 55%;
  display: block;
  margin: 0 auto;
}

.card:hover {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  transition: all ease 0.3s;
}

.resume {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
}

.resume-content {
  background: #FFFFFF;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.about-discription {
  max-width: 500px;
}

.sidebar {
  background: #1E2939;
  padding-top: 60px;
}

.sidebar-title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.contact-type {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-right: 5px;
}

.contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #FFFFFF;
  opacity: 0.5;
}

.tech-skills-list {
  color: #FFFFFF;
  padding: 0;
  margin-left: 15px;
}

.tech-skills-item {
  color: #FB6D3A;
}

.tech-skills-text {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.work-position {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.organiz {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FB6D3A;
}

.period {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
  margin-bottom: 10px;
}

.line {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work-list {
  padding: 0;
  margin-left: 15px;
}

.work-text {
  max-width: 509px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.education {
  margin-top: 43px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}

.univer {
  margin-top: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FB6D3A;
}

.management {
  margin-top: 11px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.soft {
  margin-top: 44px;
}

.soft-skills-list {
  color: #FFFFFF;
  padding: 0;
  margin-left: 15px;
}

.soft-skills-item {
  color: #FB6D3A;
}

.soft-skills-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer-contact {
  margin-top: 150px;
}

.weather__hidden {
  width: fit-content;
  height: 60px;
  background-color: rgb(224, 224, 224); 
  padding: 15px 0;
  border-radius: 15px;
  transform: translateY(50%);
  transition: 0.5s all;
}

.card__active {
  background-color: rgb(224, 224, 224);
  height: 60px;
  padding: 15px 0;
  transform: translateY(80%);
  transition: 0.5s all;
  bottom: 0;
  left: 20px;
  border-radius: 15px;
  display: block;
  animation: fade 2s;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.card-body {
  position: relative;
  height: 300px;
}

.item {
  margin: 0 10px;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid #FFFFFF;
}

@media (max-width: 767px) {
  .about-content {
    flex-wrap: wrap-reverse;
  }
  .weather__hidden {
    height: 46px;
    padding: 10px 0;
  }
}
@media (max-width: 500px) {
  .projects__container {
    margin: 1rem !important;
  }
  .item {
    margin: 0 5px;
  }
  .resume {
    max-width: 498px;
    display: block;
  }
  .sidebar {
    padding-top: 50px;
  }
}
@media (max-width: 460px) {
  .card-body {
    height: 350px;
    padding-bottom: 20px;
  }
  .weather__hidden {
    height: 40px;
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  .card-body {
    height: inherit;
  }
  .weather__hidden {
    transform: translateY(30%);
  }
}